In [2]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [3]:
dataset = pd.read_csv("../dataset/test.csv")
dataset.head(4)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S

In [4]:
# y = dataset['Survived']
dataset = dataset.drop(columns=['PassengerId', 'Name', 'Ticket'])

dataset.head(4)

   Pclass     Sex   Age  SibSp  Parch    Fare Cabin Embarked
0       3    male  34.5      0      0  7.8292   NaN        Q
1       3  female  47.0      1      0  7.0000   NaN        S
2       2    male  62.0      0      0  9.6875   NaN        Q
3       3    male  27.0      0      0  8.6625   NaN        S

In [5]:
dataset.isnull().sum()

Pclass        0
Sex           0
Age          86
SibSp         0
Parch         0
Fare          1
Cabin       327
Embarked      0
dtype: int64

In [6]:
# dataset['Survived'].value_counts()

Pclass

In [7]:
dataset['Pclass'].value_counts()

Pclass
3    218
1    107
2     93
Name: count, dtype: int64

In [8]:
# survival_rate = dataset.groupby('Pclass')['Survived'].mean() * 100
# survival_rate

In [9]:
# plt.figure(figsize=(8, 5))
# sns.boxplot(x=survival_rate.index, y=survival_rate.values, palette='viridis')

# plt.xlabel("Passenger Class (Pclass)")
# plt.ylabel("Survival Rate (%)")
# plt.title("Survival Rate by Pclass")
# plt.ylim(0, 100)

# for i, val in enumerate(survival_rate.values):
#     plt.text(i, val + 2, f"{val:.2f}%", ha="center", fontsize=12)

# plt.show()

Sex

In [10]:
dataset['Sex'].value_counts()

Sex
male      266
female    152
Name: count, dtype: int64

In [11]:
# survival_rate = dataset.groupby('Sex')['Survived'].mean() * 100
# survival_rate

In [12]:
# print(dataset['Pclass'].value_counts())

# females_df = dataset[dataset['Sex'] == 'female']

# # Group by Pclass and calculate the total number of females and the number of females who survived
# female_survival_by_pclass = females_df.groupby('Pclass')['Survived'].agg(['count', 'sum'])

# print(female_survival_by_pclass)

# # Calculate the survival percentage
# female_survival_by_pclass['Survival_Percentage'] = (female_survival_by_pclass['sum'] / female_survival_by_pclass['count']) * 100

# print(female_survival_by_pclass['Survival_Percentage'])



# print("\n\nFor Male: ")
# females_df = dataset[dataset['Sex'] == 'male']

# # Group by Pclass and calculate the total number of females and the number of females who survived
# female_survival_by_pclass = females_df.groupby('Pclass')['Survived'].agg(['count', 'sum'])

# print(female_survival_by_pclass)

# # Calculate the survival percentage
# female_survival_by_pclass['Survival_Percentage'] = (female_survival_by_pclass['sum'] / female_survival_by_pclass['count']) * 100

# print(female_survival_by_pclass['Survival_Percentage'])

SibSp

In [13]:
dataset['SibSp'].value_counts()

SibSp
0    283
1    110
2     14
3      4
4      4
8      2
5      1
Name: count, dtype: int64

In [14]:
# survival_rate = dataset.groupby('SibSp')['Survived'].mean() * 100
# survival_rate

Parch

In [15]:
dataset['Parch'].value_counts()

Parch
0    324
1     52
2     33
3      3
4      2
9      2
6      1
5      1
Name: count, dtype: int64

In [16]:
# survival_rate = dataset.groupby('Parch')['Survived'].mean() * 100
# survival_rate

Embarked

In [17]:
dataset['Embarked'] = dataset['Embarked'].fillna(dataset['Embarked'].mode()[0])

dataset['Embarked'].value_counts()

Embarked
S    270
C    102
Q     46
Name: count, dtype: int64

In [18]:
# dataset.groupby('Embarked')['Survived'].mean() * 100

Cabin

In [19]:
dataset["Cabin"].nunique()

76

In [20]:
def extract_letter(cabin):
    if pd.isna(cabin):
        return "0"
    
    for l in "ABCDEFG":
        if l in cabin:
            return l
    
    return "0"

In [21]:
dataset["Cabin"] = dataset["Cabin"].apply(extract_letter)

dataset['Cabin'].value_counts()

Cabin
0    327
C     35
B     18
D     13
E     11
A      7
F      6
G      1
Name: count, dtype: int64

In [22]:
# dataset.groupby("Cabin")["Survived"].mean() * 100

In [23]:
dataset.isnull().sum()

Pclass       0
Sex          0
Age         86
SibSp        0
Parch        0
Fare         1
Cabin        0
Embarked     0
dtype: int64

In [24]:
# bins = [0, 12, 18, 35, 60, 100]  # Define age ranges
# labels = ['Child', 'Teenager', 'Adult', 'Middle-Aged', 'Senior']  # Labels for each group

# # Assign bins to a new column 'AgeGroup'
# dataset['AgeGroup'] = pd.cut(dataset['Age'], bins=bins, labels=labels, right=False)

# print(dataset['AgeGroup'].value_counts())

# # Calculate the survival rate by AgeGroup
# survival_rate_age_group = dataset.groupby('AgeGroup')['Survived'].mean()

# # Display the result
# print(survival_rate_age_group)